body {
    background: #262628;
    color: aliceblue;
}


.wrapper {
    padding: 100px 15px;
    height: 100vh;
}


.block-fixed {
    position: fixed;
    min-width: 700px;
    min-height: 100px;
    background-color: rgb(200, 200, 200);
    border: 2px solid black;
    left: 50%;
    border-radius: 5%;
    z-index: -1;
    bottom: 100px ;
    right: 50px;
}

.block-circle {
    position: fixed;
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    left: 55%;
    bottom: 11%;
}